<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="sala-container">
    <div class="youtube-container">
        <div class="name-input-container">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Introduce un nombre de un video para buscarlo" (keydown.enter)="searchVideos()">
            <img src="assets/lupa.png" alt="Search Icon" class="search-icon" (click)="searchVideos()">
        </div>
        <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="results" *ngIf="showResults && searchQuery.trim() !== ''">
            <div class="result" *ngFor="let video of videos">
                <img [src]="video.snippet.thumbnails.default.url" alt="Item Image" class="miniature">
                <button class="acceptResult" (click)="changeVideo(video.id.videoId)">{{ video.snippet.title }}</button>
            </div>
        </div>
    </div>
    
    <div class="video-container">
        <youtube-player
            [videoId]="videoId"
            [startSeconds]="segundos"
            [playerVars]="playerVars"
            (ready)="onPlayerReady()"
            (stateChange)="onStateChange($event)">
        </youtube-player>    
    </div>
</div>

<!---->
