<div class="youtube-container">
    <div class="name-input-container">
        <input type="text" placeholder="Introduce un nombre de un video para buscarlo">
        <img src="assets/lupa.png" alt="Search Icon" class="search-icon" (click)="toggleResults()">
    </div>
    <div class="results" *ngIf="showResults">
        <div class="result">
            <img src="./assets/pruebaPerfil.png" alt="Item Image" class="miniature"> <!-- Aqui traer la miniatura-->
            <button class="acceptResult" [routerLink]="['/sala']">Opcion 1</button> <!-- Aqui traer el nombre del video-->
        </div>
        <div class="result">
            <img src="./assets/pruebaPerfil.png" alt="Item Image" class="miniature">
            <button class="acceptResult" [routerLink]="['/sala']">Opcion 2</button>
        </div>
    </div>
</div>


