.mis-salas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 110px;
    margin-top: 84px;
  }
  
  .name-input-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .name-input-container input {
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .sala {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 20px auto; /* Centra horizontalmente */
    padding: 3px;
    border: 2px solid #fc0202; /* Borde sólido de 2px */
    border-radius: 10px; /* Borde redondeado */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }

  .estadisticas {
    width: 90%;
    box-sizing: border-box;
    max-height: 200px;
    margin: 20px auto; /* Centra horizontalmente */
    padding: 3px;
    border: 2px solid #fc0202; /* Borde sólido de 2px */
    border-radius: 10px; /* Borde redondeado */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 0 auto; /* Centra horizontalmente */
  }

  .graficas-container {
    display: flex;
    flex-direction: row; /* Cambiado a row para alinear los elementos horizontalmente */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    flex-wrap: wrap; /* Envuelve los elementos en múltiples filas */
  }

  .sexo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%; /*para que los elementos ocupen todo el ancho disponible */
    margin-top: 20px;
  }