<app-cabecera-y-menu></app-cabecera-y-menu>

<div class="mis-salas-container">
    <div class="name-input-container">
    </div>
        <div class="estadisticas">
            <h1 class="titulo">Estadísticas</h1>
            <div class="graficas-container"> 
                <div class="sexo-container">
                    <label>Numero de usuarios: {{ numTotal }}</label>
                    <canvas  id="sexo" >{{ chartSexo }}</canvas>
                </div>
                <div class="edad-container" >
                    <canvas  id="edad" >{{ chartEdad }}</canvas>
                </div>
                <div class="localidad-container" >
                    <canvas  id="localidad" >{{ chartEdad }}</canvas>
                </div>
            </div>
        </div>
        <div>
            <div class="listas">
                <a [routerLink]="['/usuarios-admin']">
                    <button class="menu-button h1-like">
                        <div class="lista_usuarios">
                            <h1 class="titulo">Usuarios</h1>
                            <div class="usuarios" *ngFor="let user of users">
                                <label for="nombre" class="nombre">{{ user.nombre }}</label>
                                <label for="tipo" class="tipo">{{ "     " + user.tipousuario }}</label>
                            </div>
                        </div>
                    </button>
                </a>
                <div class="lista_reportes">
                    <h1 class="titulo">Reportes</h1>
                </div>
            </div>
        </div>
</div>
