<app-cabecera-y-menu></app-cabecera-y-menu>

<div class="mis-salas-container">
    <div class="name-input-container">
    </div>
        <div class="estadisticas">
            <h1 class="titulo">Estadísticas</h1>
            <div class="graficas-container"> 
                <div class="sexo-container">
                    <label>Numero de usuarios: {{ numTotal }}</label>
                    <canvas  id="sexo" >{{ chartSexo }}</canvas>
                </div>
                <div class="edad-container" >
                    <canvas  id="edad" >{{ chartEdad }}</canvas>
                </div>
                <div class="localidad-container" >
                    <canvas  id="localidad" >{{ chartEdad }}</canvas>
                </div>
            </div>
        </div>
</div>
