<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="menu-principal-container">
    <app-youtube style="width: 100%"></app-youtube>
    <div class="contenido-adicional">
        <!-- Aquí puedes colocar el resto de tu contenido -->
        <h1 class="titulo"> Salas Disponibles De Tu Interés</h1>
        <div class="interestSalas">
            <!-- Lo siguiente se repite por cada sala de interes para el usuario -->
            <button class="salaAvailable"> <!--Al pinchar aqui te tiene que llevar a esa sala-->
                <img class="miSala" alt="Miniatura del video" src="assets/pruebaPerfil.png">
                <div class="infoSala">
                    <label>TITUTLO VIDEO</label> <!--{{ getVideoTitle(sala.idvideo) }}-->
                    <br/>
                    <label>AUTOR</label>
                </div>
            </button>
        </div>
    </div>
</div>