<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="menu-principal-container">
    <app-youtube style="width: 100%"></app-youtube>
    <div class="contenido-adicional">
        <!-- Aquí puedes colocar el resto de tu contenido -->
        <h1> Salas Disponibles</h1>
        <div class="cuerpo">
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            <div>
                <div class="miSala">
                    <img src="./assets/captura.jpg" alt="Item Image" class="item-image">  <!-- Tendra que ir o captura del momento del video o lo que vayamos a poner-->
                </div>
                <p style="margin-left: 30px;">
                    <strong>Nombre video</strong>
                    <br>
                    Descripción de la sala
                </p>
            </div>
            
        </div>
    </div>
</div>