<div class="login-container">
    <div>
        <a [routerLink]="['']">
            <img src="assets/Logo_titulo.png" alt="Logo" class="logo">
        </a>
    </div>
    <form (ngSubmit)="login()">
        <label for="correo">Correo electrónico</label>
        <input type="text" id="correo" [(ngModel)]="correo" name="correo" placeholder="Introduzca su correo electrónico">
        
        <label for="password">Contraseña</label>
        <div class="input-password">
            <input [type]="mostrarContrasena ? 'text' : 'password'" id="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Introduzca su contraseña">
            <img id="toggleImage" [src]="mostrarContrasena ? 'assets/showPass.png' : 'assets/hidePass.png'" (click)="toggleMostrarContrasena()" class="eye-icon">
        </div>
        
        <button type="submit">Iniciar sesión</button>
        <p class="errorMsg" *ngIf="errorMessage">{{errorMessage}}</p>
    </form>
    <a class="linkLetter" [routerLink]="['/reset-password']">He olvidado mi contraseña</a><br/>
    <br/>
    ¿No tienes una cuenta? <a class="linkLetter" [routerLink]="['/registrarse']"><strong>Regístrate</strong></a>
</div>


