<div class="login-container">
    <div>
        <a [routerLink]="['']">
            <img src="assets/Logo_titulo.png" alt="Logo" class="logo">
        </a>
    </div>
    <form (ngSubmit)="login()">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" [(ngModel)]="correo" name="correo" placeholder="Introduzca su nombre de usuario">
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Introduzca su contraseña">
        
        <button type="submit">Iniciar sesión</button>
    </form>
    <a [routerLink]="['']">He olvidado mi contraseña</a><br/>
    ¿No tienes una cuenta? <a [routerLink]="['/registrarse']">Regístrate</a>
</div>
