<app-cabecera-y-menu></app-cabecera-y-menu>

<div class="mis-salas-container">
    <div class="salas">
        <div class="sala" *ngFor="let sala of salas">
            <h3 class="id">Sala: {{ sala.id }}</h3> <!-- Puedes mostrar otros detalles de la sala si es necesario -->
            <img class="miniature" [src]="getVideoThumbnailUrl(sala.idvideo)" alt="Miniatura del video">
            <label class="acceptResult">{{ getVideoTitle(sala.idvideo) }}</label>
            <h3 class="namePerson"> {{ sala.id }}</h3>
            <button class="goToSala" (click)="watchVideo(sala.idvideo)">IR A LA SALA</button>
        </div>
    </div>
</div>

