.mis-salas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 110px;
  margin-top: 84px;
}

.salas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}
.id {
    margin: 20px;
    width: 20%;
    text-align: center;
}

.namePerson {
  margin: 20px;
  width: 20%;
  text-align: center;
}


.sala {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 20px auto; /* Centra horizontalmente */
    padding: 3px;
    border: 2px solid #fc0202; /* Borde sólido de 2px */
    border-radius: 10px; /* Borde redondeado */
    background-color: #f9f9f9; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .miniature {
    width: 180px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .acceptResult {
    background-color: white; 
    color:black; 
    border:none; 
    width: 20%;
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.goToSala{
  width: 15%;
  height: 100%;
  background-color: rgb(4, 207, 4);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.erraseSala{
  margin-left: 5px;
  width: 15%;
  height: 100%;
  background-color: rgb(231, 3, 3);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.nameSala {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Para que el input esté pegado abajo */
  box-sizing: border-box;
}

.name {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; /* Espacio entre el label y el input */
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.update-icon {
  cursor: pointer;
  height: 24px; /* Ajusta el tamaño de la imagen según sea necesario */
  width: 24px;
  margin-left: 10px; /* Espacio entre el input y la imagen */
}