<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="sala-container">
    <div class="video-container">
        <iframe class="youtube-video" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="chat-container">
        <div class="messages-container">
            <div *ngFor="let message of messages" class="message">
                {{message}}
            </div>
        </div>
        <div class="input-container">
            <input [(ngModel)]="newMessage" (keydown.enter)="handleEnterKey($event)" type="text" placeholder="Escribe un mensaje...">
            <img class = "iconosend" src="assets/enviar.png" (click)="sendMessage()">
        </div>
    </div>
</div>

<!---->