<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="sala-container">
    <div class="perfilOtroUsuario">
        <h1>Perfil del Match</h1>
        <img [src]="imagenPerfil" alt="Imagen Perfil" class="ImgPerfil">
        <div class="datos">
            <div class="dato">
                <label class="nombre">Nombre:</label>
                <label class="nombre">{{ usuarioMatch.nombre }}</label>
            </div>
            <div class="dato">
                <label class="nombre">Sexo:</label>
                <label class="nombre">{{ getSexoDesc(usuarioMatch.sexo) }}</label>    
            </div>
            <div class="dato">
                <label class="nombre">Localidad:</label>
                <label class="nombre">{{ getLocalidadDesc(usuarioMatch.idlocalidad) }}</label>
            </div> 
            
        </div>
        <div class="datos">
            <div class="dato">
                <label class="nombre">Edad:</label>
                <label class="nombre">{{ usuarioMatch.edad }}</label>
            </div>
            <div class="dato">
                <label class="nombre">Busca:</label>
                <label class="nombre">{{ getSexoDesc(usuarioMatch.buscasexo) }}</label> 
            </div>
            <div class="dato">
                <label class="nombre">Busca edad:</label>
                <label class="nombre">{{ usuarioMatch.buscaedadmin }} - {{ usuarioMatch.buscaedadmax }}</label>
            </div>
        </div>
        <div class="datos">
            <div class="dato">
                <label class="nombre">Descripción:</label>
                <label class="nombre">{{ usuarioMatch.descripcion }}</label>
            </div>
        </div>

    </div>
    <div class="youtube-container">
        <div class="name-input-container">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Introduce un nombre de un video para buscarlo" (keydown.enter)="searchVideos()">
            <img src="assets/lupa.png" alt="Search Icon" class="search-icon" (click)="searchVideos()">
        </div>
        <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="results" *ngIf="showResults && searchQuery.trim() !== ''">
            <div class="result" *ngFor="let video of videos">
                <img [src]="video.snippet.thumbnails.default.url" alt="Item Image" class="miniature">
                <button class="acceptResult" (click)="changeVideo(video.id.videoId)">{{ video.snippet.title }}</button>
            </div>
        </div>
    </div>
    
    <div class="video-container">
        <youtube-player
            [videoId]="videoId"
            [startSeconds]="segundos"
            [playerVars]="playerVars"
            (ready)="onPlayerReady()"
            (stateChange)="onStateChange($event)">
        </youtube-player>    
    </div>
    <img src="{{ currentImage }}" (click)="toggleImage()" alt="Toggle Image" class="toggle-image">
    <div class="chat-container">
        <div #messagesContainer class="messages-container">
          <div *ngFor="let message of messages | orderBy: 'timestamp'" [ngClass]="{'message': message.isOwnMessage, 'messageOtro': !message.isOwnMessage}">
            {{ message.text }}
            <img *ngIf="message.multimedia" [src]="message.multimedia" alt="Multimedia" class="multimedia-preview">
            <div class="report-container" *ngIf="!message.isOwnMessage">
              <img src="assets/report.png" alt="Report Icon" class="report-icon" (click)="toggleReportBox(message.id)">
              <div *ngIf="message.showReportBox" class="report-box">
                <textarea [(ngModel)]="message.reportText" placeholder="Escribe el motivo del reporte"></textarea>
                <img src="assets/enviar.png" alt="Send Report Icon" class="send-report-icon" (click)="reportMessage(message.id, message.reportText)">
              </div>
            </div>
          </div>
        </div>
    
        <div class="input-container">
            <input [(ngModel)]="newMessage" class="msg" (keydown.enter)="handleEnterKey($event)" type="text" placeholder="Escribe un mensaje...">
            <img src="assets/clip.png" alt="Seleccionar archivo" class="upload-icon" (click)="triggerFileInput()">
            <input type="file" class="selImg" (change)="handleFileInput($event)" #fileInput style="display: none;">
            <img class="iconosend" src="assets/enviar.png" (click)="sendMessage()">
        </div>
        
        <div *ngIf="multimediaUrl" class="multimedia-preview-container">
            <img [src]="multimediaUrl" alt="Vista previa de imagen" class="multimedia-preview">
            <button (click)="clearMultimedia()">Eliminar</button>
        </div>
    </div>
</div>
