<div class="password-container">
    <form (ngSubmit)="guardarCambios()">
        <div class="data">
            <label for="nuevaContrasena">Nueva contraseña</label>
            <input type="text" id="nuevaContrasena" name="nuevaContrasena" [(ngModel)]="nuevaContrasena" required>
            <label for="antiguaContrasena">Antigua contraseña</label>
            <input type="text" id="antiguaContrasena" name="antiguaContrasena" [(ngModel)]="antiguaContrasena" required>
        </div>
        <button type="submit" class="button"><strong>Guardar cambios</strong></button>
        <p class="errorMsg" *ngIf="error">{{error}}</p>
    </form>
</div>
