/* Clase global para el rectángulo rosa en la parte superior */
.cabecera {
    background-color: #FC97A9;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; /* Asegura que esté encima de otros elementos */
}

.cabecera img{
  margin: 15px;
}

/* Clase global para el rectángulo negro a la izquierda */
.menu {
    background-color: #343a40;
    height: 100%; /* Cambiado a altura en viewport (100% del alto de la ventana) */
    width: auto; /* Ancho del menú, ajusta según tus necesidades */
    position: fixed;
    left: 0;
    z-index: 1  ; /* Asegura que esté encima de otros elementos */
    display: flex;
    flex-direction: column;
}

.menu-button {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

/* Estilo para simular la apariencia de los h1 */
.h1-like {
  font-size: 1.5rem; /* Tamaño de fuente similar al de los h1 */
  margin: 10px; /* Elimina cualquier margen predeterminado */
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-izquierdo,
  .logo-titulo{
    height: 50px;
    margin-right: 10px; /* Añade un margen entre los logos y el texto */
  }

  .logo-derecho{
    height: 50px;
    margin-right: 10px; /* Añade un margen entre los logos y el texto */
    padding-right: 20px;
  }

