<!-- cabecera-y-menu.component.html -->
<header class="cabecera">
  <div class="logo-container">
    <div class="logo">
      <img src="assets/Logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
      <img src="assets/Logo_titulo.png" alt="Logo Titulo" class="logo-titulo">
    </div>
    <a href="/ruta-de-destino">
      <img src="assets/Login.png" alt="Logo Derecho" class="logo-derecho">
    </a>
  </div>
  <nav class="menu">
    <button routerLink="/ruta-de-menu" class="menu-button h1-like">Menu</button>
    <button routerLink="/ruta-de-salas" class="menu-button h1-like">Mis salas</button>
  </nav>
</header>