<!-- cabecera-y-menu.component.html -->
<header class="cabecera">
  <div class="logo-container">
    <div class="logo">
      <a [routerLink]="['']">
        <img src="assets/Logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
        <img src="assets/Logo_titulo.png" alt="Logo Titulo" class="logo-titulo">
      </a>
    </div>
    <ng-container *ngIf="token">
      <a [routerLink]="['/perfil']">
        <img src="assets/usuario.png" alt="Logo Derecho" class="logo-derecho">
      </a>
    </ng-container>
    <!-- Si no hay token, mostrar la imagen de login -->
    <ng-container *ngIf="!token">
      <a [routerLink]="['/login']">
        <img src="assets/Login.png" alt="Logo Derecho" class="logo-derecho">
      </a>
    </ng-container>
  </div>
  <nav class="menu">
    <a [routerLink]="['']">
      <button class="menu-button h1-like">Menu</button>
    </a>

    <a [routerLink]="['/mis-salas']">
      <button class="menu-button h1-like">Mis salas</button>
    </a>
    <ng-container *ngIf="admin">
      <a [routerLink]="['/admin']">
        <button class="menu-button h1-like">Admin</button>
      </a>
    </ng-container>
    <!--
    <ng-container *ngIf="admin">
      <a [routerLink]="['/usuarios-admin']">
        <button class="menu-button h1-like">Usuarios</button>
      </a>
    </ng-container>
    <ng-container *ngIf="admin">
      <a [routerLink]="['/reports-admin']">
        <button class="menu-button h1-like">Reportes</button>
      </a>
    </ng-container>
    -->
  </nav>
</header>
