<div class="view-perfil-container">
    <p>Correo: {{ usuario.correo }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Edad: {{ usuario.edad }}</p>
    <p>Sexo: {{ usuario.sexo }}</p>
    <p>Busca Edad Minima: {{ usuario.buscaedadmin }}</p>
    <p>Busca Edad Máxima: {{ usuario.buscaedadmax }}</p>
    <p>Busca Sexo: {{ usuario.buscasexo }}</p>
    <p>Descripcion: {{ usuario.descripcion }}</p>
    <p>Foto Perfil: {{ usuario.fotoperfil }}</p>
    <p>Localidad: {{ usuario.idlocalidad }}</p>
</div>
