<!--<div class="view-perfil-container">
    <p>Correo: {{ usuario.correo }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Edad: {{ usuario.edad }}</p>
    <p>Sexo: {{ usuario.sexo }}</p>
    <p>Busca Edad Minima: {{ usuario.buscaedadmin }}</p>
    <p>Busca Edad Máxima: {{ usuario.buscaedadmax }}</p>
    <p>Busca Sexo: {{ usuario.buscasexo }}</p>
    <p>Descripcion: {{ usuario.descripcion }}</p>
    <p>Foto Perfil: {{ usuario.fotoperfil }}</p>
    <p>Localidad: {{ usuario.idlocalidad }}</p>
</div> -->
<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="general-container">
<div class="perfil-container">
    <div class="head-perfil">
        <h1>Perfil</h1>
        <img src="assets/Logo.png" alt="Imagen Perfil" class="ImgPerfil">
        <button class="buttonToEdit" [routerLink]="['/edit-perfil']">Editar perfil</button>
    </div>
    <div class="options">
        <label class="SectionTitle">Mi plan</label>
        <div class="option">
            <img class="icono" src="assets/premium.png" alt="icono">
            <button class="button" (click)="toggleAnswer(0)">¡Hazte premium!</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <label class="SectionTitle">Acerca de</label>
        <div class="option">
            <img class="icono" src="assets/ayudar.png" alt="icono">
            <button class="button" (click)="toggleAnswer(1)">Preguntas frecuentes</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/verificado.png" alt="icono">
            <button class="button" (click)="toggleAnswer(2)">Consejos de seguridad</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/llamada.png" alt="icono">
            <button class="button" (click)="toggleAnswer(3)">Contáctanos</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/informacion.png" alt="icono">
            <button class="button" (click)="toggleAnswer(4)">Sobre nosotros</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <label class="SectionTitle">Cuenta</label>
        <div class="option">
            <img class="icono" src="assets/cerrar-sesion.png" alt="icono">
            <button class="button"  (click)="toggleAnswer(5)">Cerrar sesión</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/eliminar.png" alt="icono">
            <button class="button" (click)="toggleAnswer(6)">Borrar cuenta</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
    </div>
</div>
<div class="answers-container">
    <div class="answer" *ngIf="showAnswer[0]">
        <label> HACERME PREMIUM</label>
    </div>
    <div class="answer" *ngIf="showAnswer[1]">
        <label> PREGUNTAS FRECUENTES</label>
    </div>
    <div class="answer" *ngIf="showAnswer[2]">
        <label> CONSEJOS DE SEGURIDAD</label>
    </div>
    <div class="answer" *ngIf="showAnswer[3]">
        <label> CONTÁCTANOS</label>
    </div>
    <div class="answer" *ngIf="showAnswer[4]">
        <label> SOBRE NOSOTROS</label>
    </div>
    <div class="answerEspecial" *ngIf="showAnswer[5]">
        <label> Si desea cerrar sesión pulse el botón</label>
        <button class="closeSession" (click)="logout()">Cerrar Sesión</button>
    </div>
    <div class="answerEspecial" *ngIf="showAnswer[6]">
        <label> Si desea eliminar su cuenta pulse el siguiente botón</label>
        <button class="closeSession" (click)="borrar()">Borrar Cuenta</button>
    </div>
</div>
</div>


