<!--<div class="view-perfil-container">
    <p>Correo: {{ usuario.correo }}</p>
    <p>Nombre: {{ usuario.nombre }}</p>
    <p>Edad: {{ usuario.edad }}</p>
    <p>Sexo: {{ usuario.sexo }}</p>
    <p>Busca Edad Minima: {{ usuario.buscaedadmin }}</p>
    <p>Busca Edad Máxima: {{ usuario.buscaedadmax }}</p>
    <p>Busca Sexo: {{ usuario.buscasexo }}</p>
    <p>Descripcion: {{ usuario.descripcion }}</p>
    <p>Foto Perfil: {{ usuario.fotoperfil }}</p>
    <p>Localidad: {{ usuario.idlocalidad }}</p>
</div> -->
<app-cabecera-y-menu></app-cabecera-y-menu>
<div class="perfil-container">
    <div class="head-perfil">
        <h1>Perfil</h1>
        <img src="assets/Logo.png" alt="Imagen Perfil" class="ImgPerfil">
        <button class="buttonToEdit" [routerLink]="['/edit-perfil']">Editar perfil</button>
    </div>
    <div class="options">
        <label class="SectionTitle">Mi plan</label>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">¡Hazte premium!</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <label class="SectionTitle">Acerca de</label>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Preguntas frecuentes</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Consejos de seguridad</button> 
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Contáctanos</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Sobre nosotros</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <label class="SectionTitle">Cuenta</label>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Cerrar sesión</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
        <div class="option">
            <img class="icono" src="assets/Logo.png" alt="icono">
            <button class="button">Borrar cuenta</button>
            <img class="icono" src="assets/flechaDerecha.png" alt="icono">
        </div>
    </div>
</div>


